<template>
  <GridLayout rows="*, auto">
    <ContentView row="0">
      <Frame>
        <Rapor />
      </Frame>
    </ContentView>

    <Menu row="1" />
  </GridLayout>
</template>

<script>
import Rapor from './Rapor';
import Menu from './Menu';

export default {
    data() {
        return {};
    },
    components: {
        Rapor, Menu
    }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app";
// End custom common variables

// Custom styles

</style>
