<template>
  <Page class="page">
    <ActionBar title="Ayar Sayfası" />
    <StackLayout>
      <Label text="Yavaşlatma Seviyesi henüz aktif değil" textWrap="true" />
      <Slider value="5" minValue="0" maxValue="5" loaded="onSliderLoaded" />
      <Button text="20 kovan ekle"  />
      <Button text="50 kovan ekle"  />
      <Button text="100 kovan ekle"  />
      
    </StackLayout>
  </Page>
</template>

<script >
//https://docs.nativescript.org/ui/components/slider

// enum YavaslikSeviyeleri {
//   Aheste = 32,
//   Yavaş = 16,
//   Orta = 8,
//   Hızlı = 4,
//   Çabucak = 1
// }

function onSliderLoaded(argsloaded) {
  const sliderComponent = argsloaded.object;
  sliderComponent.on("valueChange", args => {
    const slider = args.object;
    console.log(`Slider new value ${slider.value}`);
  });
}

exports.onSliderLoaded = onSliderLoaded;

export default {
  data() {
    return {};
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app";
// End custom common variables

// Custom styles
</style>

