<template>
  <Page class="page">
    <ActionBar title="Bakım" />
    <StackLayout>
      <Label text="Sinyal sesinden sonra cevap veriniz." />
      <Label :text="gecikmeAyari" />
      
      <Image v-show="!bakimHali"  @tap="bakimaBasla" src="res://dugmebakimabasla" stretch="aspectFit" class="m-2"/> 
      <Image v-show="bakimHali"  @tap="bakimiDurdur" src="res://dugmebakimidurdur" stretch="aspectFit" /> 
      
    </StackLayout>
  </Page>
</template>

<script lang="ts" >
///// IMPORT  ////////////////////////////////////////////
import { TNSTextToSpeech, SpeakOptions } from "nativescript-texttospeech";
const TTS = new TNSTextToSpeech();

import { SpeechRecognition } from "nativescript-speech-recognition";
import { SpeechRecognitionTranscription } from "nativescript-speech-recognition";
const sesTanima = new SpeechRecognition();

import { Toasty } from "nativescript-toasty";

import { Couchbase, ConcurrencyMode } from 'nativescript-couchbase-plugin';
const database = new Couchbase('bilge-couchbase-db');

///// FONKSİYONLAR /////////////////////////////////////////

async function bakimYap(startIndex) {
  const fonsksiyonlarDizisi = [
    kontroller,
    kovanNoBilgiAlma,
    toplamCerceveBilgiAlma,
    balliCerceveBilgiAlma,
    yavruluCerceveBilgiAlma,
    acikYavruDurumuBilgiAlma,
    sorunDurumuAlma,
    sorunBilgiAlma,
    jsonYapma
  ];
  bakimHali = true;
  async () => await konus("Selam");
  // kontrol bloğu yazılacak 🔋
  async function kontroller() {
    if (bakimHali == true) {
      await true;
      bakimSonucu = [];
      const bakimZamani = new Date().getTime()/1000;
      bakimSonucu.push(Math.round(bakimZamani));
    }
  }
  // kovanNoBilgiAlma 🔢
  async function kovanNoBilgiAlma() {
    if (bakimHali == true) {
      await konus("Kaçıncı kovana bakım yapacaksınız?");
      await kadarbeklet(500);
      duyulan = await dinle();
      await konus("Bakım başlatıldı. Kolay gelsin");
      sayiyaDondurulen = await sayiyaDondur(duyulan);
      await bakimSonucunaYaz(sayiyaDondurulen);
      ++ilerlemeDurumu;
    }
  }

  // toplamCerceveBilgiAlma
  async function toplamCerceveBilgiAlma() {
    if (bakimHali == true) {
      await konus(
        "Kovan " +
          duyulan +
          "içinde , toplam kaç çerçeve olduğunu sayınız. Birazdam soracağım."
      );
      await beklet(konus, "Toplam kaç çerçeve gördünüz?");
      duyulan = await dinle();
      isFinite(Number(duyulan))
        ? await konus(duyulan + " adet çerçeve görüldü.")
        : console.error(duyulan + " duyulan sayı değil");
      sayiyaDondurulen = await sayiyaDondur(duyulan); // if null tekrar sor
      await bakimSonucunaYaz(sayiyaDondurulen);
      ++ilerlemeDurumu;
    }
  }

  // balliCerceveBilgiAlma
  async function balliCerceveBilgiAlma() {
    if (bakimHali == true) {
      await konus(
        "Kaç ballı çerçeve olduğunu kontrol edin. Birazdan soracağım."
      );
      await beklet(konus, "Kaç ballı çerçeve gördünüz?", 2);
      duyulan = await dinle();
      sayiyaDondurulen = await sayiyaDondur(duyulan);
      await bakimSonucunaYaz(sayiyaDondurulen);
      ++ilerlemeDurumu;
    }
  }

  // yavruluCerceveBilgiAlma
  async function yavruluCerceveBilgiAlma() {
    if (bakimHali == true) {
      await konus(
        "Kaç yavrulu çerçeve olduğunu kontrol edin. Birazdan soracağım."
      );
      await beklet(konus, "Kaç yavrulu çerçeve gördünüz?", 2);
      duyulan = await dinle();
      sayiyaDondurulen = await sayiyaDondur(duyulan);
      await bakimSonucunaYaz(sayiyaDondurulen);
      ++ilerlemeDurumu;
    }
  }

  // acikYavruDurumuBilgiAlma 🐣
  async function acikYavruDurumuBilgiAlma() {
    if (bakimHali == true) {
      await konus("Açık yavru gördünüz mü?");
      duyulan = await beklet(dinle, 1, -1);
      const evetHayir: boolean = await evetHayiraDondur(duyulan);
      await bakimSonucunaYaz(evetHayir);
      toastGoster("Açık yavru: " + (evetHayir == true ? "var" : "yok"));
      ++ilerlemeDurumu;
    }
  }

  // sorunDurumuAlma 👍🏽  👎🏽
  async function sorunDurumuAlma() {
    if (bakimHali == true) {
      await konus("Herhangi bir sorun gördünüz mü?");
      duyulan = await dinle();
      evetHayir = await evetHayiraDondur(duyulan);
      await bakimSonucunaYaz(evetHayir);
      toastGoster("Sorun: " + (evetHayir == true ? "var" : "yok"));
      ++ilerlemeDurumu;
    }
  }

  // sorunBilgiAlma 🥺
  async function sorunBilgiAlma() {
    if (bakimHali == true) {
      if (evetHayir == true) {
        await konus("Ne sorun gördünüz?");
        duyulan = await dinle();
        await bakimSonucunaYaz(duyulan);
        toastGoster("Sorun: " + duyulan);
        ++ilerlemeDurumu;
      } else {
        toastGoster(">>>>> bakım bitti <<<<<<");
        ++ilerlemeDurumu;
      }
    }
  }
  // bakım sonucundan json
  function jsonYapma() {
    if (bakimHali == true) {
      let i = 0;
      for (let key in bakimSonucObjesi) {
        bakimSonucObjesi[key] = bakimSonucu[i++];
      }
      console.log("son bakım sonucu: " + bakimSonucu[--i]);
      const okunacakZaman = new Date((bakimSonucObjesi.zamanDamgasi)*1000);
      console.log("Bakım Zamanı: " + okunacakZaman.toLocaleString("tr-TR"));
      console.log(JSON.stringify(bakimSonucObjesi));
      veriTabaninaYaz();
    }
  }

  while (startIndex < fonsksiyonlarDizisi.length && bakimHali == true) {
    await fonsksiyonlarDizisi[startIndex]();
    ++startIndex;
    if (!bakimHali) break; // (*)
  }
}
function konus(mesaj: string): Promise<void> {
  let konusmaAyar: SpeakOptions = { text: mesaj };
  kadarbeklet(50);
  return new Promise((resolve, reject) => {
    setTimeout(() => TTS.speak(konusmaAyar), 20);
    // toastGoster(mesaj + " öncesi ilerleme durumu: " + ilerlemeDurumu);
    konusmaAyar.finishedCallback = resolve;
  });
}
function dinle(): Promise<string> {
  if (bakimHali == true) {
    kadarbeklet(100);
    return new Promise((resolve, reject) => {
      sesTanima
        .startListening({
          onResult: (transcription: SpeechRecognitionTranscription) => {
            resolve(transcription.text);
          },
          onError: (error: string | number) => {
            console.error(` 🔥 >>>> error: ` + error);
            if (error === 7) {
              anlasilamadi("daha net söyler misiniz?");
            }
            if (error === 2) {
              anlasilamadi("internet sorunu oluştu");
            }
            if (error === 6) {
              anlasilamadi("Sesi duyamadım");
            }
          }
        })
        .catch((error: string | number) => {
          console.error(`Error while trying to start listening: ${error}`);
        });
    });
  }
}
function dinlemeyiDurdur(): void {
  sesTanima.stopListening().then(
    () => {
      toastGoster("dinleme durduruldu");
      return true;
    },
    (errorMessage: string) => {
      console.error(`Error while trying to stop listening: ${errorMessage}`);
      return false
    }
  );
}
function sayiyaDondur(metin: string): Promise<number> {
  return new Promise((resolve: (value: number) => void, reject) => {
    const sayiyaDondurulen: number = metin == "bir" ? 1 : Number(metin);
    if (isFinite(sayiyaDondurulen)) {
      toastGoster("Sayıya döndürülen : " + sayiyaDondurulen);
    } else {
      console.error("sayıya döndürülen sayı değil bir " + typeof metin);
      anlasilamadi("duyduğum sayı değil");
    }

    resolve(sayiyaDondurulen);
  });
}
function evetHayiraDondur(metin: string): Promise<boolean> {
  return new Promise((resolve: (value: boolean) => void, reject) => {
    const evetHayir: boolean = metin == ("Evet" || "Gördüm") ? true : false;
    resolve(evetHayir);
  });
}
function kadarbeklet(ms): Promise<void> {
  return new Promise(son => setTimeout(son, ms));
}
async function beklet(
  fn,
  arg?,
  ekSaniye?: number | undefined
): Promise<string> {
  let saniye: number = (global as any).gecikme;
  ekSaniye !== undefined
    ? (saniye = saniye + (global as any).gecikme * ekSaniye)
    : saniye;
  const miliSaniye: number = 1000 * saniye;
  toastGoster(saniye + " saniye bekletilecek ");
  await kadarbeklet(miliSaniye);
  return fn(arg);
}
function bakimSonucunaYaz(sayiyaDondurulen) {
  bakimSonucu.push(sayiyaDondurulen);
  console.log(bakimSonucu);
}

function toastGoster(metin: string) {
  const toast = new Toasty({ text: metin });
  toast.backgroundColor = "#000099";
  toast.show();
}
async function anlasilamadi(hata: string) {
  bakimHali = false ;
  dinlemeyiDurdur() ;
  console.warn(
    " 😕 anlaşılamadı  : " +
      hata +
      " Hatanın olduğu yer: " +
      ilerlemeDurumlari[ilerlemeDurumu]
  );
  await konus("Anlayamadım ; " + hata);
  if (hata == "duyduğum sayı değil") {
    bakimSonucu.pop();
  }
  duyulan = "";
  ilerlemeDurumu = bakimSonucu.length ;
  (ilerlemeDurumu > 1) ? bakimYap(ilerlemeDurumu) : bakimYap(1);
}
function bakimDurdur() {
  bakimHali = false;
  duyulan = "";
  dinlemeyiDurdur();
  konus("Bakım Durduruldu");
  toastGoster("Bakım Durduruldu");
  console.log(
    ">Bakım durduruldu: bakım sonuç array boyu: " + bakimSonucu.length
  );
  console.log(">durdur fonksiyonunda Bakım Sonucu: " + bakimSonucu);
  // bakimSonucu = [];
  // console.log(">silinme sonrası Bakım Sonucu: " + bakimSonucu);
}
function veriTabaninaYaz() {
  database.createDocument(bakimSonucObjesi);
}
/////  TANIMLAMALAR   //////////////////////////////////////
interface SonucTurleri {
  zamanDamgasi: number;
  kovanNo: number;
  toplamCerceveAdet: number;
  balliCerceveAdet: number;
  yavruluCerceveAdet: number;
  acikYavruDurumu: boolean;
  sorunDurumu: boolean;
  sorun?: string;
}
let bakimSonucu = [];

let bakimSonucObjesi: SonucTurleri = {
  zamanDamgasi: 0,
  kovanNo: 0,
  toplamCerceveAdet: 0,
  balliCerceveAdet: 0,
  yavruluCerceveAdet: 0,
  acikYavruDurumu: true,
  sorunDurumu: false,
  sorun: " "
};

enum ilerlemeDurumlari {
  kontroller,
  kovanNoBilgiAlma,
  toplamCerceveBilgiAlma,
  balliCerceveBilgiAlma,
  yavruluCerceveBilgiAlma,
  acikYavruDurumuBilgiAlma,
  sorunDurumuBilgiAlma,
  sorunBilgiAlma,
  bakimSonuclariniDerle,
  bakimSonuclariniYaz
}
let ilerlemeDurumu: ilerlemeDurumlari = ilerlemeDurumlari.kontroller;

let duyulan: string | number;
let sayiyaDondurulen: number;
let evetHayir: boolean;
let bakimHali: boolean = false;
/////  VUE  /////////////////////////////////////////
export default {
  data() {
    return {
      bakimHali: false,
      gecikmeAyari: "Gecikme Ayarı: " + (global as any).gecikme + " Saniye",
      lisansGosterme: "Lisanslı kovan Sayısı: " + (global as any).lisansSayisi,
      duyulan: duyulan
    };
  },
  methods: {
    bakimaBasla() {
      this.bakimHali = true;
      ilerlemeDurumu = 0;
      bakimYap(0);
    },
    bakimiDurdur() {
      this.bakimHali = false;
      ilerlemeDurumu = 0;
      bakimDurdur();
    }
  },
  mounted() {
    sesTanima.requestPermission().then(granted => {
      if (!granted) {
        alert(
          "Mikrofonunuz izin vermedi, programı tekrar açarsanız tekrar izin isterim."
        );
      }
    });
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app";
// End custom common variables

.m-2 {
  margin: 20;
}
// Custom styles
</style>
