<template>
  <Page
    actionBarHidden="true"
    class="anim-page"
    backgroundSpanUnderStatusBar="true"
    @loaded="onLoaded"
  >
    <StackLayout class="main" verticalAlignment="top">    
      <Label v-for="bakim in this.thisHiveHistory" :key="bakim.id" class="item-name" textwrap="true" :text="'Zaman damgası: '+bakim.zamanDamgasi"  />
    </StackLayout>
  </Page>
</template>

<script>
import { Couchbase, ConcurrencyMode } from "nativescript-couchbase-plugin";
var _ = require("lodash");
const database = new Couchbase("bilge-couchbase-db");
function bakimlariAl() {
  return database.query({
    select: [], // Leave empty to query for all
    // group: [{ property: 'kovanNo' } ],
    order: [{ property: "kovanNo ", direction: "asc" }]
  });
}
export default {
  props: ["kovan"],
  components: {},
  computed: {},
  created() {
    this.thisHiveHistory = _.filter(bakimlariAl(), { kovanNo: this.kovan.kovanNo });
  },
  mounted() {
    },
  methods: {
    onLoaded() {
      
      console.log(JSON.stringify(this.thisHiveHistory));
    }
  },
  data() {
    return {
      thisHiveHistory: []
    };
  }
};
</script>
<style scoped>
.anim-page {
  background-color: #d4d6d8;
  animation-name: key-page;
  animation-duration: 2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-page {
  0% {
    background-color: #dadada;
  }

  20% {
    background-color: #dbd2d5;
  }

  100% {
    background-color: white;
  }
}

.anim-cover {
  opacity: 0;
  animation-name: key-cover;
  animation-duration: 1;
  animation-delay: 0.5;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-cover {
  0% {
    opacity: 0;
    transform: translate(0, 550) scale(0, 0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  30% {
    opacity: 0.5;
    transform: scale(0.6, 0.6);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

.anim-images {
  opacity: 0;
  animation-name: key-images;
  animation-duration: 1;
  animation-delay: 0.7;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-images {
  0% {
    opacity: 0;
    transform: translate(0, 550) scale(0, 0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  30% {
    opacity: 0.5;
    transform: scale(0.6, 0.6);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1, 1);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

.anim-itemInfo {
  opacity: 0;
  animation-name: key-itemInfo;
  animation-duration: 1;
  animation-delay: 1.2;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-itemInfo {
  0% {
    opacity: 0;
    transform: translate(50, 50);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

.anim-content {
  opacity: 0;
  animation-name: key-content;
  animation-duration: 1;
  animation-delay: 1.8;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes key-content {
  0% {
    opacity: 0;
    transform: translate(50, 50);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}
.item-name {
    color: black;
}
</style>