<template>
  <StackLayout class="page" orientation="vertical">
    <StackLayout @tap="detaya()" class="icerik">
      <Label :text="kovan.kovanNo" row="0" col="1" class="pr-2 kapak" width="380" height="40" />

      <!-- kat varsa  -->
      <GridLayout v-if="this.kovan.toplamCerceveAdet > 10" columns="330" rows="136,64" height="194">
        <GridLayout
          class="katStil"
          columns="30, 30, 30, 30, 30, 30, 30, 30, 30, 30"
          rows="136"
          col="0"
          row="0"
        >
          <Label
            v-for="katCerceve in (this.kovan.toplamCerceveAdet - 10)"
            class="cerceveStil"
            :text="katCerceve"
            row="0"
            height="130"
            :col="katCerceve-1"
            :key="katCerceve.id"
            :class="[katCerceve <= kovan.balliCerceveAdet ? {balli: true} : {balli: false}]"
          />
          <Label class="cerceveStil serbetlik" text="S" row="0" col="10" height="130" />
        </GridLayout>
        <!-- alt kat  -->
        <GridLayout
          class="katStil"
          columns="30, 30, 30, 30, 30, 30, 30, 30, 30, 30"
          rows="64"
          width="330"
          height="64"
          col="0"
          row="1"
        >
          <Label
            v-for="altCerceve in 10"
            class="cerceveStil"
            :text="altCerceve"
            row="0"
            height="64"
            :col="altCerceve-1"
            :key="altCerceve.id"
          />
        </GridLayout>
      </GridLayout>
      <!-- kat yoksa  -->
      <GridLayout
        v-if="!(this.kovan.toplamCerceveAdet > 10)"
        class="katStil"
        columns="30, 30, 30, 30, 30, 30, 30, 30, 30, 30"
        rows="272"
        width="330"
        height="136"
      >
        <Label
          v-for="cerceve in kovan.toplamCerceveAdet"
          class="cerceveStil"
          :text="cerceve"
          row="0"
          :col="cerceve-1"
          :key="cerceve.id"
          height="260"
          :class="[cerceve <= kovan.balliCerceveAdet ? {balli: true} : {balli: false}]"
        />
        <Label
          v-if="kovan.toplamCerceveAdet < 10"
          class="cerceveStil serbetlik"
          text="S"
          row="0"
          col="10"
          height="260"
        />
      </GridLayout>
      <!-- alt veriler -->
      <StackLayout class="tablo">
        <Label
          :text="this.kadarOnce+' '+kovan.toplamCerceveAdet+' çerçeve'"
          class="veri font-bold"
          textTransform="capitalize"
        />
        <Label
          :text="kovan.yavruluCerceveAdet+' Yavrulu '+kovan.balliCerceveAdet+' Ballı Çerçeve'"
          class="veri pl-1"
        />
        <Label v-if="kovan.acikYavruDurumu" text="Açık Yavru Var" class="pl-1" />
        <Label v-if="!kovan.acikYavruDurumu" text="Açık Yavru Görülmedi" class="pl-1 red" />
        <Label v-if="kovan.sorunDurumu" :text="kovan.sorun.toUpperCase()" class="pl-1 red" />
      </StackLayout>
    </StackLayout>
  </StackLayout>
</template>

<script>
var moment = require("moment");
import { isIOS, isAndroid } from "tns-core-modules/platform";

moment.locale("tr");
export default {
  props: ["kovan"],
  mounted() {
  },
  computed: {},
  methods: {
    detaya() {
      this.$emit("clicked", this.kovan);
      console.log("thisHiveHistory ///////////////////");
      console.log(JSON.stringify(this.thisHiveHistory));
    }
  },
  data() {
    return {
      thisHiveHistory: [],
      tarih: new Date(this.kovan.zamanDamgasi * 1000),
      kadarOnce: moment(this.kovan.zamanDamgasi * 1000).fromNow(),
      katDurumu: this.kovan.toplamCerceveAdet > 10 ? true : false,
      ustKatCerceveSayisi:
        this.kovan.toplamCerceveAdet >= 10
          ? this.kovan.toplamCerceveAdet - 10
          : this.kovan.toplamCerceveAdet
    };
  }
};
</script>
<style scoped lang="scss">
.icerik {
  margin: 1;
}
.kapak {
  background-color: lightgray;
  color: #423e31;
  font-size: 22;
  font-weight: bold;
  text-align: right;
  padding-right: 20;
}
.katStil {
  display: inline-grid;
  background-color: #87755c;
  padding: 1 15;
  color: Maroon;
  text-align: center;
}
.cerceveStil {
  background-color: #ecdbbc;
  padding: 1 1;
  font-size: 10;
  border-width: 3;
  border-color: BurlyWood;
  border-radius: 3;
  writing-mode: vertical-rl;
}
.balli {
  background-color: #cc9933;
}
.serbetlik {
  background-color: lightgray;
  text-orientation: upright;
  border-color: gray;
  border-width: 1;
  border-radius: 0;
}
.yavrulu {
  background-color: linen;
}
.tablo {
  color: black;
  background-color: #c2dfff;
  margin-top: 0;
  margin-bottom: 20;
}
.veri {
  font-kerning: 11;
}
.font-bold {
  font-weight: bold;
}
.red {
  color: red;
}
</style>