<template>
  <GridLayout id="nav" rows="auto" columns="*, *, *">
    <Button text="Rapor" @tap="goTo('ilk')" row="1" col="0" />
    <Button text="Bakım" @tap="goTo('ikinci')" row="1" col="1" />
    <Button text="Ayarlar" @tap="goTo('ucuncu')" row="1" col="2" />
  </GridLayout>
</template>

<script>
import Rapor from "./Rapor";
import Bakim from "./Bakim";
import Ayarlar from "./Ayarlar";

export default {
  data() {
    return {
      routes: {
        ilk: Rapor,
        ikinci: Bakim,
        ucuncu: Ayarlar
      }
    };
  },
  methods: {
    goTo(s) {
      this.$navigateTo(this.routes[s]);
    }
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app";
// End custom common variables
#nav {
    padding-bottom: 20;
}
GridLayout {
    background-color: #263238;
    color: #fff8e1;
    font-family: 'VarelaRound-Regular', sans-serif;
    margin-top: 1 ;
    margin-left: auto;
    margin-right: auto;
}

</style>

