<template>
  <Page class="page">
    <ActionBar title="Kovanların Son Halleri" />
    <ListView
      ref="listview"
      separatorColor="white"
      for="kovan in lastStatusOfAllHives"
      :key="lastStatusOfAllHives.id"
    >
      <v-template>
        <kovan :kovan="kovan" @clicked="showkovan(kovan)" />
      </v-template>
    </ListView>
  </Page>
</template>

<script>
import { Couchbase, ConcurrencyMode } from "nativescript-couchbase-plugin";
import kovan from "./kovan";
import kovanDetails from "./kovandetay";
var _ = require("lodash");
const database = new Couchbase("bilge-couchbase-db");

function bakimlariAl() {
  return database.query({
    select: [], // Leave empty to query for all
    // group: [{ property: 'kovanNo' } ],
    order: [{ property: "kovanNo ", direction: "asc" }]
  });
}

export default {
  components: {
    kovan,
  },
  data() {
    return {
      // bakimlar: [],
      lastStatusOfAllHives: [],
      // lastMaintance: [],
      // thisHiveHistory: []

    };
  },
  updated() {
    this.lastMaintance = _.last(
      _.orderBy(bakimlariAl(), ["zamanDamgasi"], ["desc"])
    );
  },
  mounted() {
    // this.bakimlar = bakimlariAl();
    this.lastStatusOfAllHives = _.uniqBy(
      _.orderBy(bakimlariAl(), ["kovanNo", "zamanDamgasi"], ["asc", "desc"]),
      "kovanNo"
    );
    // console.log("bakımlar ///////////////////");
    // console.log(JSON.stringify(this.bakimlar));
    // console.log("tüm kovanların son hali ///////////////////");
    // console.log(JSON.stringify(this.lastStatusOfAllHives));
    // console.log("son yapılan bakım ///////////////////");
    // console.log(JSON.stringify(this.lastMaintance));
  },
  methods: {
    showkovan(payload) {
      this.$navigateTo(kovanDetails, {
        props: {
          kovan: payload
        },
        animated: true,
        transition: {
          name: "slideTop",
          duration: 380,
          curve: "easeIn"
        }
      });
    }
    // bakimEkle() {
    //   let documentId = database.createDocument({"zamanDamgasi":1564315073,"kovanNo":148,"toplamCerceveAdet":6,"balliCerceveAdet":5,"yavruluCerceveAdet":1,"acikYavruDurumu":false,"sorunDurumu":true,"sorun":"volutpat"});
    //   this.bakimlar = bakimlariAl();
    // },
    // vtDestroy() {
    //   return database.destroyDatabase();
    // }
  }
};
</script>

<style scoped lang="scss">
// Start custom common variables
@import "../app";
// End custom common variables
</style>
