// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@import "~nativescript-theme-core/core";
@import "~nativescript-theme-core/grey";
Button {
    background-color: #ffecb3;
    border: none;
    color: #263238;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16;
    font-family: 'BaiJamjuree-Medium', sans-serif;
}

Page {
    background-color: #263238;
    color: #fff8e1;
    font-size: 16;
    font-family: 'VarelaRound-Regular', sans-serif;
}

.pl-1 {
    padding-left: 10;
}

.pr-2 {
    padding-right: 20;
}

.vertical-rl {
    writing-mode: vertical-rl;
}